.error-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: rgb(var(--primary-bg));
    border: 2px solid var(--primary-bg);
    border-radius: 0.7rem;
    box-shadow: 24;
    padding: 4px;
    color: rgb(var(--content-text-color));
}